<p>

@<%= tweet.user.handle %>: <%= tweet.content %><br> <%= tweet.created_at.to_formatted_s(:short) %>

<br>
<%= "#{count_likes} likes " %>
<% if tweet.likes.where(user_id: current_user.id).length > 0 %>
	<%= link_to "Unlike", url_for(controller: :home, action: :like, tweet_id: tweet.id), method: :post %>
<% else %>
	<%= link_to "Like", url_for(controller: :home, action: :like, tweet_id: tweet.id), method: :post %>
<% end %>

<% if current_user.id == tweet.user_id %>
	<%= link_to "Delete", url_for(controller: :home, action: :delete_tweet, tweet_id: tweet.id), method: :post %>
<% end %>

<% if current_user.id == tweet.user_id %>
	<%= link_to "Edit", url_for(controller: :home, action: :edit_tweet_get, tweet_id: tweet.id), method: :get %>
<% end %>

</p>