<div class="tweet">
  <div class="userImage inline">
    <div class="dummy">
      <img class="tweetImage" src="https://pbs.twimg.com/profile_images/616147175987265536/EQm39fW7_bigger.png">
    </div>
  </div>

	<div class="content inline">
    <div class="userDetails">
      <div class="username inline">@<%= tweet.user.handle %></div>
      <div class="time inline"><%= tweet.created_at.to_formatted_s(:short) %></div>
    </div>
    <div class="tweetContent"><%= tweet.content %></div>
    <div class="reactions">


<%= "#{count_likes} likes " %>
<% if tweet.likes.where(user_id: current_user.id).length > 0 %>
	<%= link_to "Unlike", url_for(controller: :home, action: :like, tweet_id: tweet.id), method: :post %>
<% else %>
	<%= link_to "Like", url_for(controller: :home, action: :like, tweet_id: tweet.id), method: :post %>
<% end %>

<% if current_user.id == tweet.user_id %>
	<%= link_to "Delete", url_for(controller: :home, action: :delete_tweet, tweet_id: tweet.id), method: :post %>
<% end %>

<% if current_user.id == tweet.user_id %>
	<%= link_to "Edit", url_for(controller: :home, action: :edit_tweet_get, tweet_id: tweet.id), method: :get %>
<% end %>

<%= link_to "Retweet", url_for(controller: :home, action: :retweet, tweet_id: tweet.id), method: :post %>



<%= "#{count_comments} Comments" %>
<ul>
<% tweet_comments.each do |tc| %>
	<li>
	<% commentor = User.where(:id => tc.user_id).first %>
	@<%= commentor.handle %>: <%= tc.content %>
	<% if commentor.id == current_user.id %>
		<%= link_to 'Delete Comment', url_for(controller: :home, action: :delete_comment, comment_id: tc.id), method: :post %>
	<% end %>
	</li>
<% end %>
</ul>

		<%= form_tag '/comment', method: :post do %>
		<%= hidden_field_tag :tweet_id, tweet.id %>
		<%= text_area_tag :content %>
		<%= submit_tag "Comment" %>
		<% end %>

</div>
</div>
</div>

