<br>
<%= form_tag '/create_tweet' do %>
	<%= text_area_tag :content %>
	<%= submit_tag "Tweet Now!" %>
<% end %>

<div class="tweets">
<% @tweets.each do |tweet| %>
	
		<% count_likes = 0 %>
		<% @likes.each do |like| %>
			<% if like.tweet_id == tweet.id %>
				<% count_likes = count_likes + 1 %>
			<% end %>
		<% end %>

		<% count_comments = 0 %>
		<% tweet_comments = Array.new %>
		<% @comments.each do |comment| %>
			<% if comment.tweet_id == tweet.id %>
				 <% tweet_comments << comment %>
				<% count_comments = count_comments + 1 %>
			<% end %>
		<% end %>


		<%= render 'tweet', :tweet => tweet, :count_likes => count_likes, :count_comments => count_comments, :tweet_comments => tweet_comments %>

		<%= form_tag '/comment', method: :post do %>
		<%= hidden_field_tag :tweet_id, tweet.id %>
		<%= text_area_tag :content %>
		<%= submit_tag "Comment" %>
		<% end %>

	
<% end %>
</div>

<div class="tweets">
<% @retweets.each do |rt| %>
	
	
		<%= render 'retweet', :rt => rt %>
	
	
<% end %>
</div>